header{
    height: 20vh;
    border-bottom: 1px solid var(--color-secundario-light);
    background-color: rgb(20, 20, 18);
}
.subtitle{
    font-weight: 600;
    color: var(--color-secundario);
}
#logo img{
    max-width: 100px;
    padding-top: 10px;
}
#alignement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    margin: auto;
    height: 100%;
    max-width: 65vw;
}
#first-row{
    max-height: 8vh;
}
