nav{
    height: 7vh;
    width: 100vw;
    border-bottom: 1px solid var(--color-secundario-light);
    background-color: rgb(12, 12, 12);
}

#cont-links{
    max-width: 70vw;
    margin: auto;
}

.link{
    background-color: var(--color-bg);
    padding: 5px 15px;
    border-radius: 10px;
    transition: background-color, color;
    transition-duration: 0.5s;
}

.link:hover{
    background-color: var(--color-txt);
    color: var(--color-bg);
}